.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  z-index: 100;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 20px;
}

.songRow:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.1);
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__img {
  height: 40px;
  width: 40px;
}
.songRow__title {
  display: flex;
  flex: 0.4;
  margin-left: 35px;
}
.songRow__album {
  display: flex;
  flex: 0.3;
  margin-left: 10px;
  margin-right: auto;
}
.songRow__album > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
.songRow__addDate {
  display: flex;
  flex: 0.2;
  margin-left: 10px;
  margin-right: auto;
}
.songRow__addDate > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
.songRow__time {
  display: flex;
  flex: 0.1;
}
.songRow__time > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
  margin-left: auto;
  margin-right: 77px;
}
